# Module 5. Advanced functions.

**_Author: Favio Vázquez_**

**Expected time = 2.5 hours**

**Total points = 130 points**

## Assignment Overview

In this assignment you will work with Python functions, from the basics of their structure to more nuanced activities. You will start by reviewing what you learned about functions in earlier modules, then you will practice how to cast arguments inside of functions, how to use the local and the global environment, how to use nested functions, and then how to deal with exceptions. In the final part of the assignment you will be testing your knowledge of lambda functions and the basics of functional programming.

This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from each module. As you progress through the assignment, answers will get increasingly complex. It is important that you adopt a data scientist's mindset when completing this assignment. **Remember to run your code from each cell before submitting your assignment.** Running your code beforehand will notify you of errors and give you a chance to fix your errors before submitting. You should view your Vocareum submission as if you are delivering a final project to your manager or client. 

***Vocareum Tips***
- Do not add arguments or options to functions unless you are specifically asked to. This will cause an error in Vocareum.
- Do not use a library unless you are explibitly asked to in the question. 


### Learning Objectives

- Construct complex functions including functions with multiple parameters, nested functions, and functions with default vs. flexible arguments. 
- Distinguish between global, local, and built-in scope. 
- Interpret errors and understand exceptions in order to troubleshoot.  
- Use lambda functions to analyze DataFrames.

## Index:

#### Module 5: Advanced functions

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)
- [Question 10](#Question-10)
- [Question 11](#Question-11)
- [Question 12](#Question-12)


## Module 5: Advanced functions

In the first part of this assignment, we will reviewing the basics of functions and the way we create them in Python.

### Basic functions review

We will begin this assignment with a review of functions so you make sure to master the basics of them. As you remember, functions are followed by parentheses (). The argument is within the parentheses like this: `function(argument)` . The arguments are input that the function performs some calculations on and then produces an output. You may use either built-in functions or create your own user-defined functions. Functions may also have multiple parameters. 

[Back to top](#Index:)

### Question 1
*5 points*

Create a function called `square_cond` that takes an argument and returns the square of it, if and only if the number is even. If the number is odd return the sentence "Odd number".

In [147]:
### GRADED

### YOUR SOLUTION HERE
def square_cond(n):
    if n % 2 == 0: return n ** 2 
    else: return 'Odd number'

###
### YOUR CODE HERE
###

In [148]:
square_cond(6)

36

In [149]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 2
*15 points*

Create a Python function called `multi_operation` that takes two floats `a` and `b` and returns a tuple. Make sure that both `a` and `b` are floats, if not parse them inside the function. The first element of the tuple must be the multiplication of `a` and `b`. The second element must be the integer division of `a` and `b`. Then return both elements.

**Hint: The integer division is perfomed by the `//` operator.**

In [150]:
### GRADED

### YOUR SOLUTION HERE
def multi_operation(a, b):
    return (float(a) * float(b), float(a) // float(b))

###
### YOUR CODE HERE
###

In [151]:
multi_operation(1,2)

(2.0, 0.0)

In [152]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Local vs Global scope

In this section you will test your knowledge about the different scopes in Python.
- Global scope is defined in the main body of the script
- Local scope is defined within a function
- Built-in scope comes standard with python

[Back to top](#Index:) 

### Question 3
*10 points*

Remember that variables that are defined inside a function body have a local scope, and those defined outside have a global scope. With that in mind, define a function called `global_sum` that takes two integers and computes the their sum. Create a global variable labeled `number` to store the result without returning it.

In [153]:
### GRADED

### YOUR SOLUTION HERE


def global_sum(a, b):
    global number
    number =  a + b

###
### YOUR CODE HERE
###

### Answer check
global_sum(122,9)
print("The global sum is: {}".format(number))

The global sum is: 131

In [154]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 4
*5 points*

Create a function called `i_print` that takes no argument  and returns the global variable `x` as an integer. Ensure that the printed value is an integer.

In [155]:
### GRADED

### YOUR SOLUTION HERE
# Definition of x
x = 101

def i_print():
    return int(x)

###
### YOUR CODE HERE
###

In [156]:
i_print()

101

In [157]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 5

*5 points*

We define a function as:

```python

a = 10

def h():     
    global a 
    a = 3
    return a
```

What will the function `h()` return? Store your solution in the variable `ans_1`.

In [158]:

a = 10

def h():     
    global a 
    a = 3
    return a

In [159]:
h()

3

In [160]:
### GRADED

### YOUR SOLUTION HERE
ans_1 = 3

###
### YOUR CODE HERE
###

In [161]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Nested functions and multiple arguments

In this section you will test your knowledge on how to create and use nested functions and how to define functions with default parameters.

We use nested functions to run a process multiple times. You may remember:
- A nested function is a function within a function.
- Return is used to return the variable so it can be used by a function.
- The innermost function is processed first and so on.
- The outermost function is processed last.

We can use built-in functions with default arguments and specify default arguments for our user-defined functions. 
- Default arguments make it optional for the user to enter an argument.
- We can use an asterisk before our parameter name to indicate that any number of arguments can be passed through the function and use a for loop so the function applies the code to each argument.

[Back to top](#Index:) 

### Question 6
*15 points*

Define a nested function called `nested_sum`, where in the first part of the function you accept an argument called `x` and in the second part (the function inside) you take another argument called `y`. In the function inside you have to calculate the sum of `x` and `y`. To test your function create a variable called `res_1` where you pass the `x` argument to `nested_sum`, and then create a variable called `res_2` where you pass the `y` argument of the res_1 variable to get the final solution. Have `x` equal 2 for res_1 and `y` equal 10 for res_2.

In [9]:
### GRADED

### YOUR SOLUTION HERE
def nested_sum(x):
    def inner_func(y):
        return x + y

res_1 = 2
res_2 = 10

###
### YOUR CODE HERE
###

In [10]:
res_1

2

In [11]:
res_2

10

In [163]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 7
*10 points*

Define a function called `i_divide` that takes two arguments: `num_1` and `num_2`, where `num_2` is 2 by default. The function should return the division between `num_1` and `num_2`.

In [164]:
### GRADED

### YOUR SOLUTION HERE
def i_divide(num_1, num_2 = 2):
    return num_1 / num_2

###
### YOUR CODE HERE
###

In [165]:
i_divide(10,3)

3.3333333333333335

In [166]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Handling exceptions

In this section you will test your knowledge on how to handle different types of exceptions and raise errors in Python.
- You can use `try` and `except` to print a customized error message. 
- Remember to specify the error type after `except` to ensure that error messages are specific to potential errors. 
- You can use an if statement to create more refined error messages.

[Back to top](#Index:) 

### Question 8
*20 points*

Define a function called `exce_sum` where you return the sum of two arguments, but if the both arguments are 0, the function should raise an exception saying "Invalid numbers". The exception needs to have the ValueError() class and the return type of the exception must be a string.

**Hint: Make sure to validate if the two arguments are 0. Use `try` and `except`.**

In [183]:
### GRADED

### YOUR SOLUTION HERE
def exce_sum(a, b):
    if a ==b== 0:
        raise ValueError('Invalid numbers')
    else:
        return a * b

###
### YOUR CODE HERE
###

In [168]:
exce_sum(1,0)

0

In [169]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 9
*15 points*

Define a function called `exce_sub` that takes two arguments and returns the difference between two arguments. If both arguments are 1, the function should raise an exception saying "Invalid numbers". The exception must be inherited from the ValueError() class and the return type of the exception must be a string.

**Hint: Make sure to validate if the two arguments are 0. Use `try` and `except`.**

In [170]:
### GRADED

### YOUR SOLUTION HERE
def exce_sub(a, b):
    try:
        if a == 1 & b == 1:
            raise ValueError('Invalid numbers')
        else:
            return a - b
    except TypeError:
        print("Make sure these are two numbers")

###
### YOUR CODE HERE
###

In [171]:
exce_sub(1, 2)

-1

In [172]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Lambda functions

In this final section you will test your knowledge on lambda functions, how to create them and use different functional programming methods. Remember, you can use the `lambda` keyword to write functions quickly, but only for functions that evaluate to an expression. So this is a good approach for functions you will only use a few times. 

As you may remember, lambda functions look like this. 

`name = lambda argument: what the function will do`

[Back to top](#Index:) 

### Question 10
*5 points*
  
Create a variable called `f` that stores a lambda function to square a number. Test your function with the number 6 and store it in a variable called `ans_1`, then with the number 112 and store it in a variable called `ans_2`.

In [173]:
### GRADED

### YOUR SOLUTION HERE
f = lambda n: n ** 2

ans_1 = f(6)
ans_2 = f(112)

###
### YOUR CODE HERE
###

In [174]:
ans_2

12544

In [175]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 11
*10 points*
    
Create a list called `res` that stores a lambda function using the `map` function to capitalize all the strings inside of the list `try_list`.

In [176]:
### GRADED

### YOUR SOLUTION HERE
try_list = ["programming", "is", "awesome", "and", "more", "with", "emeritus"]
res = list(map(lambda n: n.capitalize(),try_list))

###
### YOUR CODE HERE
###

In [177]:
res

['Programming', 'Is', 'Awesome', 'And', 'More', 'With', 'Emeritus']

In [178]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:)

### Question 12
*15 points*

Given the dataframe `df`, define a function called multi that takes two arguments `x` and `y` that returns `x` multiplied by `y`. Use a lambda function inside the `df.apply` function to multiply the columns `num_legs` and `num_specimen` utilizing the multi function you defined, and then store the final result in a new column called `result` in the same dataframe.

**Hint: Use `df.apply`**

In [4]:
### GRADED

### YOUR SOLUTION HERE
import pandas as pd

df = pd.DataFrame({'type': ['falcon', 'dog', 'spider', 'fish'],
                   'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen': [10, 2, 1, 8]})


def multi(x, y):
    return x * y

# for question 12 in vocareum this

#df["result"] = df['num_legs'] * df['num_specimen']

# seems so much easier than this, which is what they are looking for:

#df['result'] = df.apply(lambda x: multi(x['num_legs'],x['num_specimen']),axis=1)

# is the advantage that it's universal?

###
### YOUR CODE HERE
###

In [5]:
df

     type  num_legs  num_wings  num_specimen
0  falcon         2          2            10
1     dog         4          0             2
2  spider         8          0             1
3    fish         0          0             8

In [7]:
df['result'] = df.apply(lambda x: x['num_legs'] * x['num_specimen'], axis=1)

In [8]:
df

     type  num_legs  num_wings  num_specimen  result
0  falcon         2          2            10      20
1     dog         4          0             2       8
2  spider         8          0             1       8
3    fish         0          0             8       0

In [182]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [200]:
import seaborn as sns

In [201]:
tips = sns.load_dataset('tips')

In [202]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [203]:
tips['pct_tip'] = tips['tip']/tips['total_bill']

In [204]:
tips

     total_bill   tip     sex smoker   day    time  size   pct_tip
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [205]:
def the_weekend(x):
    if x[0] in ['Sat', 'Sun'] and x[1] == 'Dinner':
        return "Yes"
    else:
        return 'nah bro'

In [206]:
tips[['day','time']].apply(the_weekend, axis=1)

0          Yes
1          Yes
2          Yes
3          Yes
4          Yes
        ...
239        Yes
240        Yes
241        Yes
242        Yes
243    nah bro
Length: 244, dtype: object

In [207]:
tips.replace({'Male':0, 'Female':1})

     total_bill   tip  sex smoker   day    time  size   pct_tip
0         16.99  1.01    1     No   Sun  Dinner     2  0.059447
1         10.34  1.66    0     No   Sun  Dinner     3  0.160542
2         21.01  3.50    0     No   Sun  Dinner     3  0.166587
3         23.68  3.31    0     No   Sun  Dinner     2  0.139780
4         24.59  3.61    1     No   Sun  Dinner     4  0.146808
..          ...   ...  ...    ...   ...     ...   ...       ...
239       29.03  5.92    0     No   Sat  Dinner     3  0.203927
240       27.18  2.00    1    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    0    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    0     No   Sat  Dinner     2  0.098204
243       18.78  3.00    1     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]