## Code Wars

In [37]:
#!jt -t grade3 -tf firacode -tfs 10 -mathfs 110 -fs 10 -N -T -nfs 10
#jupyter nbextensions_configurator enable --user

### The Hashtag Generator

The marketing team is spending way too much time typing in hashtags.
Let's help them with our own Hashtag Generator!

Here's the deal:

    It must start with a hashtag (#).
    All words must have their first letter capitalized.
    If the final result is longer than 140 chars it must return false.
    If the input or the result is an empty string it must return false.

Examples

" Hello there thanks for trying my Kata"  =>  "#HelloThereThanksForTryingMyKata"
"    Hello     World   "                  =>  "#HelloWorld"
""                                        =>  false

#### Solution

In [38]:
def generate_hashtag(s):
    import string
    cap_s = "#" + string.capwords(s).replace(" ","")
    if len(cap_s) > 140 or len(cap_s) == 1:
        return False
    else:
        return cap_s

#### Test

In [39]:
a = "This is a String"
b = ""
c = "c i a is the one"
d = ""
e = "111111111111111111199999999999999999999999999999999999999999999999999999\
11111111111111111111111111111111111111111111111111111111111111111111111111111"

In [40]:
generate_hashtag(a)

'#ThisIsAString'

In [41]:
generate_hashtag(b)

False

In [42]:
generate_hashtag(c)

'#CIAIsTheOne'

In [43]:
generate_hashtag(d)

False

In [44]:
generate_hashtag(e)

False

### Next bigger number with the same digits

Create a function that takes a positive integer and returns the next bigger number that can be formed by rearranging its digits. For example:

12 ==> 21
513 ==> 531
2017 ==> 2071

If the digits can't be rearranged to form a bigger number, return -1 (or nil in Swift):

9 ==> -1
111 ==> -1
531 ==> -1

#### Solution

In [2]:
# take every numeric combination and arrange them in order. 
# return the first one after the one entered
def next_bigger(a):
    from itertools import permutations
    s = str(a)
    perm = permutations(s) 
    x = list(perm)
    nl = [int("".join(x)) for x in x]
    nl = [i for i in nl if i > a]
    nl = sorted(nl)
    if nl: 
        return nl[0]
    else:
        return -1

#### Test

In [3]:
# string of all combinations
a = 245
b = 111
c = 5678

In [4]:
next_bigger(3475)

3547

#### Better Solution

In [ ]:
def next_bigger(n):
    d = list(str(n))

    nd = len(d)
    try:
        pivot = next(i for i in reversed(range(nd-1)) if d[i] < d[i+1])
        swap  = next(i for i in reversed(range(nd)) if d[pivot] < d[i])
    except:
        return -1
    d[pivot], d[swap] = d[swap], d[pivot]
    d[pivot+1:] = reversed(d[pivot+1:])

    n = int(''.join(d for d in d))
    return n

### My Languages

Your task

You are given a dictionary/hash/object containing some languages and your test results in the given languages. Return the list of languages where your test score is at least 60, in descending order of the results.

Note: the scores will always be unique (so no duplicate values)
Examples

{"Java": 10, "Ruby": 80, "Python": 65}    -->  ["Ruby", "Python"]
{"Hindi": 60, "Dutch" : 93, "Greek": 71}  -->  ["Dutch", "Greek", "Hindi"]
{"C++": 50, "ASM": 10, "Haskell": 20}     -->  []

In [72]:
l = {"Java": 10, "Ruby": 80, "Python": 65, "Dutch": 90}

#### Solution

In [73]:
def my_languages(l):
    l = sorted(l.items(), key=lambda x: x[1], reverse = True)
    return [x[0] for x in l if x[1] >= 60]

In [74]:
my_languages(l)

['Dutch', 'Ruby', 'Python']

### Happy Birthday Darling!

As you may know, once women pass their teens, they should only be celebrated for their 20th or 21st birthday, forever. With some maths skills, that's totally possible - you only need to select the correct number base!

For example, if she turns 32, that's exactly 20 - in base 16... Already 39? That's just 21, in base 19!

Your task is to translate the given age to the much desired 20 (or 21) years, and indicate the number base, in the format specified below.

Note: input will be always > 21
Examples:

32  -->  "32? That's just 20, in base 16!"
39  -->  "39? That's just 21, in base 19!"

In [ ]:
a = 34
b = 40
c 53

In [11]:
i = hex(36)

In [12]:
print(i)

0x24

In [20]:
3 * 13**2 + 9 * 13**1 + 8 * 13**0

632

In [21]:
52

52

In [22]:
5 * 10**1 + 2 * 10**0

52

In [23]:
20 * 16**1 + 0 * 16**0

320

In [51]:
int("20", 12)

24

In [109]:
age = 32
age_b = age/2

In [116]:
def womens_age(age):
    if age % 2 == 0:
        return (str(age)+"? That's just 20, in base " + str(int(age/2))+"!" )
    else:
        return (str(age)+"? That's just 21, in base " + str(int(age/2))+"!" )

In [117]:
womens_age(32)

"32? That's just 20, in base 16!"

#### Better Solution

In [118]:
def womens_age(n):
    return f"{n}? That's just {20+n%2}, in base {n//2}!"

In [119]:
womens_age(33)

"33? That's just 21, in base 16!"

### Number of trailing zeros of N!

m
Write a program that will calculate the number of trailing zeros in a factorial of a given number.

N! = 1 * 2 * 3 * ... * N

Be careful 1000! has 2568 digits...

For more info, see: http://mathworld.wolfram.com/Factorial.html
Examples

zeros(6) = 1
6! = 1 * 2 * 3 * 4 * 5 * 6 = 720 --> 1 trailing zero

zeros(12) = 2
12! = 479001600 --> 2 trailing zeros

Hint: You're not meant to calculate the factorial. Find another way to find the number of zeros.

In [121]:
n = 1000

Okay, there are 1000 ÷ 5 = 200 multiples of 5 between 1 and 1000. The next power of 5, namely 25, has 1000 ÷ 25 = 40 multiples between 1 and 1000. The next power of 5, namely 125, will also fit in the expansion, and has 1000 ÷ 125 = 8 multiples between 1 and 1000. The next power of 5, namely 625, also fits in the expansion, and has 1000 ÷ 625 = 1.6... um, okay, 625 has 1 multiple between 1 and 1000. (I don't care about the 0.6 "multiples", only the one full multiple, so I truncate my division down to a whole number.)

In total, I have 200 + 40 + 8 + 1 = 249 copies of the factor 5 in the expansion, and thus:

249 trailing zeroes in the expansion of 1000!

#### Solution

In [156]:
def zeros(n):
    import math
    s = 0
    for i in range(1,16):
        f = 5**i
        s += (math.trunc(n / f))
    return(s)

In [157]:
print(1000 / 5)

200.0

In [158]:
zeros(1000000000)

249999998

### Best Stock Profit in Single Sale

You're a buyer/seller and your buisness is at stake... You need to make profit... Or at least, you need to lose the least amount of money! Knowing a list of prices for buy/sell operations, you need to pick two of them. Buy/sell market is evolving across time and the list represent this evolution. First, you need to buy one item, then sell it later. Find the best profit you can do.
Example:

Given an array of prices [3, 10, 8, 4], the best profit you could make would be 7 because you buy at 3 first, then sell at 10.
Input:

A list of prices (integers), of length 2 or more.
Output:

The result of the best buy/sell operation, as an integer.

Note:

Be aware you'll face lists with several thousands of elements, so think about performance.

In [186]:
 l = [10, 11, 5, 8, 6, 9]

In [187]:
max(l) - min(l)

6

In [190]:
def max_profit(l):
    max_p = l[1] - l[0]
    for x in range(0, len(l)-1):
        #print( f"{l[x]} max of rest: {max(l[x+1:])}" ) 
        prof = max(l[x+1:]) - l[x]
        max_p = max(prof, max_p)
        #print(f"The current profit is {prof}")
    return max_p

In [192]:
max_profit(l)

4

The above solution is too slow.

### Find min and max

Implement a function that returns the minimal and the maximal value of a list (in this order).

### Solution

In [6]:
def get_min_max(seq): 
    # your code here
    return (min(seq), max(seq))

In [7]:
get_min_max([1,2,3,4,5,6,6])

(1, 6)

### Weight for weight

My friend John and I are members of the "Fat to Fit Club (FFC)". John is worried because each month a list with the weights of members is published and each month he is the last on the list which means he is the heaviest.

I am the one who establishes the list so I told him: "Don't worry any more, I will modify the order of the list". It was decided to attribute a "weight" to numbers. The weight of a number will be from now on the sum of its digits.

For example 99 will have "weight" 18, 100 will have "weight" 1 so in the list 100 will come before 99. Given a string with the weights of FFC members in normal order can you give this string ordered by "weights" of these numbers?
Example:

"56 65 74 100 99 68 86 180 90" ordered by numbers weights becomes: "100 180 90 56 65 74 68 86 99"

When two numbers have the same "weight", let us class them as if they were strings (alphabetical ordering) and not numbers: 100 is before 180 because its "weight" (1) is less than the one of 180 (9) and 180 is before 90 since, having the same "weight" (9), it comes before as a string.

All numbers in the list are positive numbers and the list can be empty.
Notes

 * it may happen that the input string have leading, trailing whitespaces and more than a unique whitespace between two consecutive numbers
 * Don't modify the input
 *   For C: The result is freed.

#### Solution

In [53]:
def order_weight(l):
    import operator
    l = l.split()
    b = []
    c = []
    for x in l:
        a = sum(map(int, x))
        #print(f"The sum of digits for {x} is {a}.")
        b.append((x, a))
    b.sort(key = operator.itemgetter(0))
    b.sort(key = operator.itemgetter(1))
    v = ""
    for i in b:
        v += "".join(i[0]) + " "
    return v.rstrip(" ")

#### Test

In [54]:
order_weight("103 123 4444 99 2000")

'2000 103 123 4444 99'

In [55]:
l = "2000 10003 1234000 44444444 9999 11 11 22 123"

In [56]:
order_weight(l)

'11 11 2000 10003 22 123 1234000 44444444 9999'

#### Better solution

In [57]:
def order_weight(_str):
    return ' '.join(sorted(sorted(_str.split(' ')), key=lambda x: sum(int(c) for c in x)))

### The observed PIN

Alright, detective, one of our colleagues successfully observed our target person, Robby the robber. We followed him to a secret warehouse, where we assume to find all the stolen stuff. The door to this warehouse is secured by an electronic combination lock. Unfortunately our spy isn't sure about the PIN he saw, when Robby entered it.

The keypad has the following layout:

┌───┬───┬───┐
│ 1 │ 2 │ 3 │
├───┼───┼───┤
│ 4 │ 5 │ 6 │
├───┼───┼───┤
│ 7 │ 8 │ 9 │
└───┼───┼───┘
    │ 0 │
    └───┘

He noted the PIN 1357, but he also said, it is possible that each of the digits he saw could actually be another adjacent digit (horizontally or vertically, but not diagonally). E.g. instead of the 1 it could also be the 2 or 4. And instead of the 5 it could also be the 2, 4, 6 or 8.
<br>
He also mentioned, he knows this kind of locks. You can enter an unlimited amount of wrong PINs, they never finally lock the system or sound the alarm. That's why we can try out all possible (*) variations.
<br>
* possible in sense of: the observed PIN itself and all variations considering the adjacent digits
<br>

Can you help us to find all those variations? It would be nice to have a function, that returns an array (or a list in Java and C#) of all variations for an observed PIN with a length of 1 to 8 digits. We could name the function getPINs (get_pins in python, GetPINs in C#). But please note that all PINs, the observed one and also the results, must be strings, because of potentially leading '0's. We already prepared some test cases for you.
<br>
Detective, we count on you!
<br>
For C# user: Do not use Mono. Mono is too slower when run your code.

#### Solution

In [114]:
import itertools

def get_pins(observed):

    nb = \
        {"1":["1","2","4"], 
         "2":["1","2","3","5"], 
         "3":["2","3","6"], 
         "4":["1","4","5","7"], 
         "5":["2","4","5","6","8"], 
         "6":["3","5","6","9"],
         "7":["4","7","8"],
         "8":["5","7","8","9","0"],
         "9":["6","8","9"],
         "0":["0","8"]}
    
    x = [nb [n] for n in observed]
    print(x)
    xx = list(itertools.product(*x))
    a = [''.join(n) for n in xx]
    return a

#### Test

In [115]:
get_pins('109')

[['1', '2', '4'], ['0', '8'], ['6', '8', '9']]

['106',
 '108',
 '109',
 '186',
 '188',
 '189',
 '206',
 '208',
 '209',
 '286',
 '288',
 '289',
 '406',
 '408',
 '409',
 '486',
 '488',
 '489']

### Beeramid

Let's pretend your company just hired your friend from college and paid you a referral bonus. Awesome! To celebrate, you're taking your team out to the terrible dive bar next door and using the referral bonus to buy, and build, the largest three-dimensional beer can pyramid you can. And then probably drink those beers, because let's pretend it's Friday too.

A beer can pyramid will square the number of cans in each level - 1 can in the top level, 4 in the second, 9 in the next, 16, 25...

Complete the beeramid function to return the number of complete levels of a beer can pyramid you can make, given the parameters of:

1) your referral bonus, and

2) the price of a beer can

For example:

beeramid(1500, 2); // should === 12
beeramid(5000, 3); // should === 16

#### Solution

In [138]:
def beeramid(bonus, price):
    beers = int(bonus/price)
    print(f"num bonus:{bonus},price:{price}, beers{beers}")
    import numpy as np
    l = [(x**2) for x in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]]
    a = np.cumsum(l)
    a = list(a)
    print(a)
    min_val = min(i for i in a if i > beers)
    print(f"num beers{beers}, cum beers:{min_val}")
    return max(0,a.index(min_val)-1)

#### Better solution

In [149]:
def beeramid(bonus, price):
    beers  = bonus // price
    levels = 0
    
    while beers >= (levels + 1) ** 2:
        levels += 1
        beers  -= levels ** 2
    
    return levels

In [150]:
beeramid(900,2)

Levels:0,Beers:450
Levels:1,Beers:449
Levels:2,Beers:445
Levels:3,Beers:436
Levels:4,Beers:420
Levels:5,Beers:395
Levels:6,Beers:359
Levels:7,Beers:310
Levels:8,Beers:246
Levels:9,Beers:165

10

### Shortest Knight Path

Given two different positions on a chess board, find the least number of moves it would take a knight to get from one to the other. The positions will be passed as two arguments in algebraic notation. For example, knight("a3", "b5") should return 1.

The knight is not allowed to move off the board. The board is 8x8.

For information on knight moves, see https://en.wikipedia.org/wiki/Knight_%28chess%29

For information on algebraic notation, see https://en.wikipedia.org/wiki/Algebraic_notation_%28chess%29

(Warning: many of the tests were generated randomly. If any do not work, the test cases will return the input, output, and expected output; please post them.)

#### Solution

In [152]:
def knight(p1, p2):
    # start here!
    pass

### Complete the triangle pattern



    When no more interesting kata can be resolved, I just choose to create the new kata, to solve their own, to enjoy the process --myjinxin2015 said

Description:

Give you two number m and n(two positive integer, m < n), make a triangle pattern with number sequence m to n. The order is clockwise, starting from the top corner, like this:

 When m=1 n=10  triangle is:
    1
   9 2
  8 0 3
 7 6 5 4

Note: The pattern only uses the last digit of each number; Each row separated by "\n"; Each digit separated by a space; Left side may need pad some spaces, but don't pad the right side; If m to n can not make the triangle, return "".
Some examples:

makeTriangle(1,3) should return:
 1
3 2

makeTriangle(6,20) should return: 

    6
   7 7
  6 8 8
 5 0 9 9
4 3 2 1 0

makeTriangle(1,12) should return ""

In [498]:
def make_triangle(m,n):
    l = [str(x)[-1] for x in range(m,n+1)]
    v = [int(x*(x+1)/2) for x in range(0,10)]
    print(f"v:{v}")
    print(f"l:{l}")
    if len(l) in v:
        for i in range(0,len(l)):
            if i in v:
                print("\n",end="")
                print(" "*(len(l)-i),l[i],end="")
            else:
                print(" ",l[i],end="")
    else:
        return ""

In [499]:
make_triangle(1,10)

v:[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]
l:['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

           1
          2  3
        4  5  6
     7  8  9  0

In [485]:
l = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [265]:
len(l)

15

In [229]:
for a in l:
    print(a, end = "")

67891011121314151617181920

In [230]:
if len(l) in [int(x*(x+1)/2) for x in range(1000)]

True

In [210]:
1,3,6,10,15,21

(1, 3, 6, 10, 15, 21)

In [220]:
3*(3+1)/2

6.0

In [367]:
1,9,2,8,0,3,7,6,5,4

(1, 9, 2, 8, 0, 3, 7, 6, 5, 4)

In [28]:
print('   1\n  9 2\n 8 0 3\n7 6 5 4')

   1
  9 2
 8 0 3
7 6 5 4

In [1]:
def make_triangle(m,n):
    l = [x for x in range(m,n+1)]
    # these are all the possible number of
    # elements
    v = [int(x*(x+1)/2) for x in range(0,400)]
    #print(f"l:{l},\nv:{v}")
    if len(l) in v:
        s = ""
        t = ""
        for c in l:
            s = s+str(c)[-1]+" "
            if l.index(c)+1 in v:
                #print(f"c:{c}")
                s = s + "\n"
        #reverse string to add spaces 
        # last line gets 0 space, second last one
        # space etc.
        s = s[::-1]
        z = 0
        for i in s:
            if i == "\n":
                t += " "*z+i
                z += 1
            else:
                t += i
        t = (z * " ") + t[::-1]
        return print(t)
    else:
        return ""

In [3]:
make_triangle(1,15)

     1
    2 3
   4 5 6
  7 8 9 0
 1 2 3 4 5

#### Best Solution

This solution actually works. I could not determine the answer, needed cycle function from itertools.

In [6]:
from itertools import cycle
from math import sqrt

def make_triangle(start, end):
    rows = sqrt(8 * (end - start) + 9) / 2 - .5

    if not rows.is_integer():
        return ''

    rows = int(rows)
    row, col, value = -1, -1, start

    directions = cycle([(1, 0), (0, -1), (-1, 1)])
    triangle = [[''] * n for n in range(1, rows + 1)]

    for times in range(rows, 0, -1):
        cur_dir = next(directions)

        for _ in range(times):
            row += cur_dir[0]
            col += cur_dir[1]

            triangle[row][col] = str(value % 10)
            value += 1

    return "\n".join(' ' * (rows - i - 1) + ' '.join(r) for i, r in enumerate(triangle))

In [11]:
print(make_triangle(1,15))

    1
   2 2
  1 3 3
 0 5 4 4
9 8 7 6 5

### Largest 5 digit number in a series

In the following 6 digit number:

283910

91 is the greatest sequence of 2 consecutive digits.

In the following 10 digit number:

1234567890

67890 is the greatest sequence of 5 consecutive digits.

Complete the solution so that it returns the greatest sequence of five consecutive digits found within the number given. The number will be passed in as a string of only digits. It should return a five digit integer. The number passed may be as large as 1000 digits.

#### Solution

In [14]:
number = "731671765313306249192251196744265747423553491949349698352"

In [31]:
def solution(digits):
    l = len(digits)
    num_list = []
    for n in range(0,l-4):
        a = digits[n:n+5]
        num_list.append(int(a))
    return max(num_list)

In [32]:
solution("1234567898765")

98765

In [33]:
solution(number)

98352

#### Other Solution

In [34]:
def solution(digits):
    numlist = [int(digits[i:i+5]) for i in range(0,len(digits)-4)]
    return max(numlist)

In [35]:
solution('1238173813671476141841')

81738

### Permutations

In this kata you have to create all permutations of an input string and remove duplicates, if present. This means, you have to shuffle all letters from the input in all possible orders.

Examples:

permutations('a'); # ['a']
permutations('ab'); # ['ab', 'ba']
permutations('aabb'); # ['aabb', 'abab', 'abba', 'baab', 'baba', 'bbaa']

The order of the permutations doesn't matter.

#### Solution

In [48]:
import itertools
from collections import OrderedDict

def permutations(string):
    character_sequences = itertools.permutations(string)
    permutations_list = ["".join(sequence) for sequence in character_sequences]    
    return list(OrderedDict.fromkeys(permutations_list))

In [49]:
permutations('aabb')

['aabb', 'abab', 'abba', 'baab', 'baba', 'bbaa']

#### Another Solution

This one uses *Set* in order to get a unique list of permutations

In [51]:
import itertools

def permutations(string):
    return list("".join(p) for p in set(itertools.permutations(string)))

### Series of integers from m to n

#### Solution

In [81]:
def generate_integers(m, n): 
    return [x for x in range(m,n+1)]

In [82]:
generate_integers(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Number Zoo Patrol

Background:

You're working in a number zoo, and it seems that one of the numbers has gone missing!

Zoo workers have no idea what number is missing, and are too incompetent to figure it out, so they're hiring you to do it for them.

In case the zoo loses another number, they want your program to work regardless of how many numbers there are in total.
Task:

Write a function that takes a shuffled list of unique numbers from 1 to n with one element missing (which can be any number including n). Return this missing number.

Note: huge lists will be tested.
Examples:

[1, 3, 4]  =>  2<br>
[1, 2, 3]  =>  4<br>
[4, 2, 3]  =>  1<br>

#### Solution

In [26]:
def find_missing_number(a):
    n = len(a)
    i, t = 0, 1
    
    for i in range(2, n + 2):
        t += i
        t -= a[i - 2]
    return t

In [29]:
n = [1,2,3,4,5,7,8,9]

In [30]:
find_missing_number(n)

6

In [3]:
len(n)

9

In [6]:
def find_missing_number(a, n):  
    i, total = 0, 1
  
    for i in range(2, n + 2): 
        total += i 
        total -= a[i - 2] 
    return total 
  
# Driver Code 
arr = [4,2,3] 
print(find_missing_number(arr, len(arr)))

1

### Consecutive Ducks

Positive integers have so many gorgeous features. Some of them could be expressed as a sum of two or more consecutive positive numbers.
Consider an Example :

    10 , could be expressed as a sum of 1 + 2 + 3 + 4.

Task

Given Positive integer, N , Return true if it could be expressed as a sum of two or more consecutive positive numbers , OtherWise return false .
Notes

    Guaranteed constraint : 2 ≤ N ≤ (2^32) -1 .

Input >> Output Examples:


* consecutiveDucks(9)  ==>  return (true)  //  9 , could be expressed as a sum of ( 2 + 3 + 4 ) or ( 4 + 5 ) . 

* consecutiveDucks(64)  ==>  return (false)

* consecutiveDucks(42)  ==>  return (true) //  42 , could be expressed as a sum of ( 9 + 10 + 11 + 12 )  .

#### Solution

 If a number is power of 2, then it cannot be expressed as sum of some consecutive numbers

In [31]:
import math

math.log(n, 2).is_integer()

TypeError: must be real number, not list

In [34]:
import math
def consecutive_ducks(n):
# If a number is power of 2, then it cannot be 
# expressed as sum of some consecutive numbers
    return not math.log(n, 2).is_integer()

In [36]:
consecutive_ducks(8)

False

### Counting Valleys

You need count how many valleys you will pass.

Start is always from zero level.

Every time you go down below 0 level counts as an entry of a valley, and as you go up to 0 level from valley counts as an exit of a valley.

One passed valley is equal one entry and one exit of a valley.

s='FUFFDDFDUDFUFUF'
U=UP
F=FORWARD
D=DOWN

To represent string above

(level 1)  __
(level 0)_/  \         _(exit we are again on level 0)
(entry-1)     \_     _/
(level-2)       \/\_/

So here we passed one valley

#### Solution

In [179]:
p = 'UFFDDFDUDFUFUUFFDDFDUDFUFU'

In [191]:
def counting_valleys(s):
    v = 0
    c_l = 0
    for c in s:
        if c == "U":
            c_l += 1
            if c_l == 0:
                v += 1
        elif c == "D":
            c_l -= 1
    return v

### rotate the letters of each element

Task

Create a function that given a sequence of strings, groups the elements that can be obtained by rotating others, ignoring upper or lower cases.

In the event that an element appears more than once in the input sequence, only one of them will be taken into account for the result, discarding the rest.
Input

Sequence of strings. Valid characters for those strings are uppercase and lowercase characters from the alphabet and whitespaces.
Output

Sequence of elements. Each element is the group of inputs that can be obtained by rotating the strings.

Sort the elements of each group alphabetically.

Sort the groups descendingly by size and in the case of a tie, by the first element of the group alphabetically.
Examples

['Tokyo', 'London', 'Rome', 'Donlon', 'Kyoto', 'Paris', 'Okyot'] --> [['Kyoto', 'Okyot', 'Tokyo'], ['Donlon', 'London'], ['Paris'], ['Rome']]

['Rome', 'Rome', 'Rome', 'Donlon', 'London'] --> [['Donlon', 'London'], ['Rome']]

[] --> []

#### Solution (not the best, long)

In [66]:
l = ['Tokyo', 'London', 'Rome', 'Donlon', 'Kyoto', 'Paris', 'Okyot']

In [63]:
from collections import OrderedDict

def group_cities(l): 
    print(f"l:{l}")
    z = []
    for c in l:
        a = rotate(c)
        z.append(a)
    print(f"z:{z}")
        
    f = []
    for n in z:
        f.append(set(n).intersection(l))
    print("f",f)
        
    w = []
    for i in range(0, len(z)):
        g = [x for x in z[i] if x in l]
        g.sort()
        w.append(g)
    
    ss = []
    for df in w:
        if df not in ss:
            ss.append(df)   
    
    ss_new = sorted(ss, key=lambda x: (-len(x), x[0]))
    
    #f = []
    #for n in ss_new:
    #    f.append(list(set(n)))
        
    ds = []
    for li in ss:
        ds.append(list(OrderedDict.fromkeys(li)))
    
    #print(f"ds:{ds}")
    
    ss_new = sorted(ds, key=lambda x: (-len(x), x[0]))
    return ss_new

def rotate(s):
    a = []
    for r in range(len(s)):
        a.append(s[r:] + s[:r])
    a = [x.title() for x in a]
    return a

In [64]:
jj = ['M El Sheikhshar', 'Ngton Dcwashi', 'Khsharm El Shei', 'Sharm El Sheikh', 'Resbuenos Ai', 'Lkattako', 'Budapest', 'Zurich']

In [70]:
group_cities(jj)

[['Khsharm El Shei', 'M El Sheikhshar', 'Sharm El Sheikh'],
 ['Budapest'],
 ['Lkattako'],
 ['Ngton Dcwashi'],
 ['Resbuenos Ai'],
 ['Zurich']]

In [71]:
group_cities(l)

[['Kyoto', 'Okyot', 'Tokyo'], ['Donlon', 'London'], ['Paris'], ['Rome']]

#### Better Solution

In [78]:
def group_cities(seq):
    result = []
    sort_result =[]
    seq = list(dict.fromkeys(seq)) #removing  duplicates
    print(f"seq:{seq}")
    for e, i in enumerate(seq):
        print(f"e:{e},i{i}")
        sort_result = [j for j in seq if len(j)==len(i) and j.lower() in 2*(i.lower())]
        if not sorted(sort_result) in result :
            result.append(sorted(sort_result))
    return(sorted(sorted(result),key=len,reverse=True))

In [79]:
l = ['Tokyo', 'London', 'Rome', 'Donlon', 'Kyoto', 'Paris', 'Okyot']

In [80]:
group_cities(l)

seq:['Tokyo', 'London', 'Rome', 'Donlon', 'Kyoto', 'Paris', 'Okyot']
e:0,iTokyo
e:1,iLondon
e:2,iRome
e:3,iDonlon
e:4,iKyoto
e:5,iParis
e:6,iOkyot

[['Kyoto', 'Okyot', 'Tokyo'], ['Donlon', 'London'], ['Paris'], ['Rome']]

### Sort rectangles and circles by area II

In this kata you will be given a sequence of the dimensions of rectangles ( sequence with width and length ) and circles ( radius - just a number ).
Your task is to return a new sequence of dimensions, sorted ascending by area.

For example,

seq = [ (4.23, 6.43), 1.23, 3.444, (1.342, 3.212) ] # [ rectangle, circle, circle, rectangle ]<br>
sort_by_area(seq) => [ ( 1.342, 3.212 ), 1.23, ( 4.23, 6.43 ), 3.444 ]


#### Solution

In [81]:
def sort_by_area(seq): 
    # your code here
    pass

In [82]:
seq = [ (4.23, 6.43), 1.23, 3.444, (1.342, 3.212) ]

In [89]:
len(seq[0])

2

In [115]:
def sort_by_area(seq): 
    from math import pi
    d = {}
    for i in seq:
        if type(i) == tuple:
            d.update({i[0] * i[1]:i})
        else:
            d.update({pi * i**2: i})
    return [d[key] for key in sorted(d.keys())]

In [116]:
sort_by_area(seq)

[(1.342, 3.212), 1.23, (4.23, 6.43), 3.444]

In [109]:
d

{27.198900000000002: (4.23, 6.43),
 4.752915525615998: 1.23,
 37.26285772082942: 3.444,
 4.310504000000001: (1.342, 3.212)}

In [113]:
result = [d[key] for key in sorted(d.keys())]

In [114]:
result

[(1.342, 3.212), 1.23, (4.23, 6.43), 3.444]

#### Better Solution

In [117]:
def sort_by_area(arr): 
    return sorted(arr, key=lambda x: (x[0]*x[1] if isinstance(x,tuple) else x*x*3.14))

### Pandas Series 101: Rename Columns

Rename Columns
Input parameters

    pandas.DataFrame object
    sequence

Task

Your function must return a new pandas.DataFrame object with same data than the original input but now its column names are the elements of the sequence. You must not modify the original input.

The number of columns of the input will always be equal to the size of the sequence.
Examples

0  1  2<br>
0  1  2  3<br>
1  4  5  6<br>
<br>
names = ['A', 'B', 'C']
<br>
   A  B  C<br>
0  1  2  3<br>
1  4  5  6<br>

#### Solution

In [43]:
import pandas as pd

def rename_columns(df, names):
    df2 = df.copy()
    df2.columns = list(names)
    return df2

In [39]:
names = 'ABC'

In [40]:
c = list(names)

In [41]:
c

['A', 'B', 'C']

In [26]:
df = pd.DataFrame([[1,2,3],[1,2,3]])

In [27]:
df

   0  1  2
0  1  2  3
1  1  2  3

In [36]:
df.columns = ['A', 'B', 'C']

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df

   A  B  C
0  1  2  3
1  1  2  3

In [31]:
data_url = 'http://bit.ly/2cLzoxH'
# read data from url as pandas dataframe
gapminder = pd.read_csv(data_url)

In [32]:
print(gapminder.head(3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

In [33]:
gapminder.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [34]:
gapminder.columns = ['country','year','population',
                     'continent','life_exp','gdp_per_cap']

In [35]:
gapminder.columns

Index(['country', 'year', 'population', 'continent', 'life_exp',
       'gdp_per_cap'],
      dtype='object')