# Inspecting Your Data

# Outline
- .head() and .tail()
- .columns
- .shape
- .info()

In [1]:
import pandas as pd

In [2]:
social = pd.read_csv('social.csv')

## .head() and .tail()

In [3]:
social.head()

,respid,sex,eminuse,intmob,intfreq,home4nw,bbhome1,bbhome2,device1a,smart2,...,hisp,racem1,racem2,racem3,racem4,racecmb,birth_hisp,inc,party,partyln
0,1,2,1,1,1,1,2,,1,1,...,2,1,,,,1,,6,2,
1,2,2,2,2,,,,,1,2,...,2,1,,,,1,,4,3,8
2,3,2,1,2,3,1,2,,1,1,...,2,1,,,,1,,4,1,
3,4,2,1,1,4,1,2,,1,1,...,2,1,,,,1,,2,2,
4,4,2,1,1,4,1,2,,1,1,...,2,1,,,,1,,2,2,

## .columns

In [4]:
social.columns

Index(['respid', 'sex', 'eminuse', 'intmob', 'intfreq', 'home4nw', 'bbhome1',
       'bbhome2', 'device1a', 'smart2', 'snsint2', 'device1b', 'device1c',
       'device1d', 'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'web1f',
       'web1g', 'web1h', 'sns2a', 'sns2b', 'sns2c', 'sns2d', 'sns2e', 'pial5a',
       'pial5b', 'pial5c', 'pial5d', 'pial11', 'pial11a', 'pial11ao@',
       'pial11_igbm', 'pial12', 'books1', 'books2a', 'books2b', 'books2c',
       'age', 'marital', 'educ2', 'emplnw', 'hisp', 'racem1', 'racem2',
       'racem3', 'racem4', 'racecmb', 'birth_hisp', 'inc', 'party', 'partyln'],
      dtype='object')

## .shape

In [5]:
social.shape

(2003, 54)

## .info()

In [6]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 54 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   respid       2003 non-null   int64
 1   sex          2003 non-null   int64
 2   eminuse      2003 non-null   int64
 3   intmob       2003 non-null   int64
 4   intfreq      2003 non-null   object
 5   home4nw      2003 non-null   object
 6   bbhome1      2003 non-null   object
 7   bbhome2      2003 non-null   object
 8   device1a     2003 non-null   object
 9   smart2       2003 non-null   object
 10  snsint2      2003 non-null   int64
 11  device1b     2003 non-null   int64
 12  device1c     2003 non-null   int64
 13  device1d     2003 non-null   int64
 14  web1a        2003 non-null   object
 15  web1b        2003 non-null   object
 16  web1c        2003 non-null   object
 17  web1d        2003 non-null   object
 18  web1e        2003 non-null   object
 19  web1f        2003 non-null   object
 20  web1g        2003 non-null   object
 21  web1h        2003 non-null   object
 22  sns2a        2003 non-null   object
 23  sns2b        2003 non-null   object
 24  sns2c        2003 non-null   object
 25  sns2d        2003 non-null   object
 26  sns2e        2003 non-null   object
 27  pial5a       2003 non-null   int64
 28  pial5b       2003 non-null   object
 29  pial5c       2003 non-null   object
 30  pial5d       2003 non-null   object
 31  pial11       2003 non-null   int64
 32  pial11a      2003 non-null   object
 33  pial11ao@    2003 non-null   object
 34  pial11_igbm  2003 non-null   int64
 35  pial12       2003 non-null   object
 36  books1       2003 non-null   int64
 37  books2a      2003 non-null   object
 38  books2b      2003 non-null   object
 39  books2c      2003 non-null   object
 40  age          2003 non-null   int64
 41  marital      2003 non-null   int64
 42  educ2        2003 non-null   int64
 43  emplnw       2003 non-null   int64
 44  hisp         2003 non-null   int64
 45  racem1       2003 non-null   int64
 46  racem2       2003 non-null   object
 47  racem3       2003 non-null   object
 48  racem4       2003 non-null   object
 49  racecmb      2003 non-null   int64
 50  birth_hisp   2003 non-null   object
 51  inc          2003 non-null   int64
 52  party        2003 non-null   int64
 53  partyln      2003 non-null   object
dtypes: int64(21), object(33)
memory usage: 845.1+ KB

In [1]:
import pandas as pd

d = {'col1': [1,2,3.0], 'col2':[1,4,5]}
df1 = pd.DataFrame(d)

In [2]:
df1

   col1  col2
0   1.0     1
1   2.0     4
2   3.0     5

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      float64
 1   col2    3 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes