# Outline
- What is a package?
- Installing a package
- Importing a package
- Using a function from a package
- Aliasing a package
- Importing a single function from a package

## What is a package?
- A directory of python scripts
- Include functions, methods, and types
    - numpy, pandas

## Installing a package
- Download get-pip.py from https://pip.pypa.io/en/stable/installing/
- In your terminal: python3 ```get-pip.py```
- pip3 install package_name
    - ```pip3 install numpy```
    - ```pip3 install pandas```

## Importing a package

In [1]:
import numpy

In [2]:
import pandas

## Using a function from a package

In [7]:
sign(5)

NameError: name 'sign' is not defined

In [8]:
numpy.sign(5)

1

# Aliasing a package

In [9]:
import numpy as np

In [10]:
np.sign(5)

1

## Importing a single function from a package

In [11]:
#from package_name import function_name
from numpy import sign

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"Weight":[45, 88,56,15, 71],
                  "Name":["Sam", "Andrea", "Alex", "Robin", "Kia"],
                  "Age":[ 14, 25, 55, 8, 21]})

In [3]:
df

   Weight    Name  Age
0      45     Sam   14
1      88  Andrea   25
2      56    Alex   55
3      15   Robin    8
4      71     Kia   21

In [4]:
name_1 = df["Name"]

In [5]:
name_1

0       Sam
1    Andrea
2      Alex
3     Robin
4       Kia
Name: Name, dtype: object

In [10]:
df["Age"][df["Age"]<21]

0    14
3     8
Name: Age, dtype: int64