In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('jan_survey.csv')


df = df.replace(' ', np.nan)

df.head()

,respid,sample,comp,int_date,lang,cregion,state,density,usr,qs1,...,inc,party,partyln,hh1,hh3,ql1,ql1a,qc1,weight,cellweight
0,1,1,1,180103,1,1,42,5,U,NaN,...,6,2,NaN,5,4,1,NaN,NaN,1.746359,NaN
1,2,1,1,180103,1,3,45,2,S,NaN,...,4,3,8,2,2,2,2,NaN,1.659764,NaN
2,3,1,1,180103,1,1,34,5,S,NaN,...,4,1,NaN,1,NaN,1,NaN,NaN,0.490804,NaN
3,4,1,1,180103,1,3,24,4,S,NaN,...,2,2,NaN,2,2,1,NaN,NaN,0.947965,NaN
4,5,1,1,180103,1,1,33,2,R,NaN,...,7,1,NaN,3,3,1,NaN,NaN,0.915959,NaN

In [5]:
df.shape

(2002, 70)

In [6]:
intfreq = list(df['intfreq'].astype(float).dropna().values)
respid = list(df['respid'].astype(int).dropna().values)
sex =  list(df['sex'].astype(int).dropna().values)
age = list(df['age'].astype(int).dropna().values)

In [7]:
intfreq_array = np.array(intfreq)

In [8]:
intfreq_array.shape

(1785,)

# Outline
- Social media usage data
- NumPy functions
- Seeing available functions

In [9]:
social_list = [respid, sex, age, intfreq_array]

In [22]:
for soc in social_list:
    print(len(soc))

2002
2002
2002
1785

In [10]:
social = np.array(social_list)

In [11]:
type(social)

numpy.ndarray

In [12]:
np.mean(social[3])

2.15406162464986

In [13]:
np.median(social[3])

2.0

In [14]:
min(age)

18

In [15]:
max(age)

99

In [29]:
a = np.random.random(10).reshape(2, 5)

In [30]:
np.corrcoef(a)

array([[1.        , 0.21519118],
       [0.21519118, 1.        ]])

In [31]:
np.std(social[3])

1.1273610277806774

In [34]:
pd.Series(social[3]).std()

1.1276769479291822

In [16]:
np.corrcoef(social[3], social[2])

ValueError: all the input array dimensions except for the concatenation axis must match exactly