# Outline
- Iterable
- For loop
- range() function
- For loop with conditional

## Iterable
- An object capable of returning its members one at a time
- Lists, tuples, strings

## for loop

In [2]:
test_scores = [40,65,91,92,93]

In [3]:
test_scores[0] = test_scores[0] + 7
test_scores[1] = test_scores[1] + 7

In [4]:
print(test_scores)

[47, 72, 91, 92, 93]

In [5]:
for score in test_scores:
    score + 7

In [6]:
print(test_scores)

[47, 72, 91, 92, 93]

In [7]:
for letter in "LOL":
    print(letter + "!")

L!
O!
L!

## range() function

In [8]:
my_list = [1,2,3,4,5]

In [9]:
for number in my_list:
    number = number*2
    print(number)

2
4
6
8
10

In [10]:
for number in range(1,101):
        number = number*2
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

## for loop with conditional

In [11]:
test_scores = [40,65,91,92,93]

In [12]:
for score in test_scores:
    if score < 80:
        score = score + 7
    print(score)

47
72
91
92
93

## for loop in a function

In [13]:
def score_curve(test_scores):
    for score in test_scores:
        if score < 80:
            score = score + 7
        print(score)

In [14]:
score_curve([1,2,90])

8
9
90

In [74]:
def add(n):
    return n+n

numbers = [1, 2, 3]
result = map(add, numbers)
print(result)
print("result",list(result))
print("new result",list(result))

<map object at 0x7fdb431dc5f8>
result [2, 4, 6]
new result []

In [72]:
type(result)

map

In [53]:
list(number)

[1, 2, 3]

In [28]:
def add(n):

TypeError: map() must have at least two arguments.

In [24]:
a

In [97]:
tuple_1 = tuple([x for x in range(10,21)])

In [98]:
tuple_1

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [99]:
tuple_1[0:3]

(10, 11, 12)